coingecko-atlas.json
{
  "name": "ATLAS CHRONOS — CoinGecko BTC/ETH Prices",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.coingecko.com/api/v3/simple/price",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "bitcoin,ethereum,usd-coin"
            },
            {
              "name": "vs_currencies",
              "value": "usd,mxn"
            },
            {
              "name": "include_24hr_change",
              "value": "true"
            },
            {
              "name": "include_last_updated_at",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "GET CoinGecko Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "btc_usd",
              "stringValue": "={{ $json.bitcoin.usd }}"
            },
            {
              "name": "btc_mxn",
              "stringValue": "={{ $json.bitcoin.mxn }}"
            },
            {
              "name": "btc_24h_change",
              "stringValue": "={{ $json.bitcoin.usd_24h_change }}"
            },
            {
              "name": "eth_usd",
              "stringValue": "={{ $json.ethereum.usd }}"
            },
            {
              "name": "eth_mxn",
              "stringValue": "={{ $json.ethereum.mxn }}"
            },
            {
              "name": "eth_24h_change",
              "stringValue": "={{ $json.ethereum.usd_24h_change }}"
            },
            {
              "name": "usdc_usd",
              "stringValue": "={{ $json['usd-coin'].usd }}"
            },
            {
              "name": "fuente",
              "stringValue": "CoinGecko API v3"
            },
            {
              "name": "agente",
              "stringValue": "ATLAS CHRONOS"
            },
            {
              "name": "timestamp",
              "stringValue": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Formatear Precios ATLAS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ATLAS CHRONOS — Procesamiento de precios para Notion / webhook destino\n// Consumido por: agente ATLAS en ZumaIntelligence\n// Acción: enviar a Notion database o webhook interno\n\nconst data = items[0].json;\n\nconst summary = {\n  timestamp: data.timestamp,\n  agente: 'ATLAS CHRONOS',\n  precios: {\n    BTC: { USD: data.btc_usd, MXN: data.btc_mxn, cambio_24h: `${parseFloat(data.btc_24h_change).toFixed(2)}%` },\n    ETH: { USD: data.eth_usd, MXN: data.eth_mxn, cambio_24h: `${parseFloat(data.eth_24h_change).toFixed(2)}%` },\n    USDC: { USD: data.usdc_usd }\n  },\n  alerta: Math.abs(parseFloat(data.btc_24h_change)) > 5 ? '⚠️ Movimiento >5% BTC' : null\n};\n\nconsole.log('[ATLAS]', JSON.stringify(summary, null, 2));\n\nreturn [{ json: summary }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "ATLAS — Procesar y Alertar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "677963db09524372b29ae63861a9d7ca",
          "mode": "id"
        },
        "title": "={{ $json.timestamp.substring(0,16).replace('T',' ') + ' | BTC $' + $json.precios.BTC.USD }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "BTC_USD",
              "numberValue": "={{ $json.precios.BTC.USD }}"
            },
            {
              "key": "BTC_MXN",
              "numberValue": "={{ $json.precios.BTC.MXN }}"
            },
            {
              "key": "BTC_24h_pct",
              "numberValue": "={{ parseFloat($json.precios.BTC.cambio_24h) }}"
            },
            {
              "key": "ETH_USD",
              "numberValue": "={{ $json.precios.ETH.USD }}"
            },
            {
              "key": "ETH_MXN",
              "numberValue": "={{ $json.precios.ETH.MXN }}"
            },
            {
              "key": "ETH_24h_pct",
              "numberValue": "={{ parseFloat($json.precios.ETH.cambio_24h) }}"
            },
            {
              "key": "USDC_USD",
              "numberValue": "={{ $json.precios.USDC.USD }}"
            },
            {
              "key": "Alerta",
              "selectValue": "={{ $json.alerta !== null ? $json.alerta : '✅ Normal' }}"
            },
            {
              "key": "Fuente",
              "selectValue": "CoinGecko API v3"
            },
            {
              "key": "Timestamp",
              "dateValue": "={{ $json.timestamp }}",
              "includeTime": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "ATLAS → Notion Price Feed",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "OZq2W6j0ueZ4tL5s",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Cada 5 minutos": {
      "main": [
        [
          {
            "node": "GET CoinGecko Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CoinGecko Prices": {
      "main": [
        [
          {
            "node": "Formatear Precios ATLAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Precios ATLAS": {
      "main": [
        [
          {
            "node": "ATLAS — Procesar y Alertar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATLAS — Procesar y Alertar": {
      "main": [
        [
          {
            "node": "ATLAS → Notion Price Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "id": "atlas-coingecko-001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Agente ATLAS CHRONOS: precios BTC/ETH/USDC cada 5 min vía CoinGecko (sin auth). Output → Notion database ATLAS Price Feed (677963db09524372b29ae63861a9d7ca).",
    "agente": "ATLAS CHRONOS",
    "frecuencia": "cada 5 minutos",
    "api": "https://api.coingecko.com/api/v3/simple/price",
    "auth_requerida": false,
    "notion_database_id": "677963db09524372b29ae63861a9d7ca",
    "notion_database_url": "https://www.notion.so/677963db09524372b29ae63861a9d7ca"
  },
  "tags": [
    "atlas",
    "crypto",
    "coingecko",
    "notion",
    "zumaintelligence"
  ]
}
