econdb-msk.json
{
  "name": "MSK BROKER — FRED CPI USA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Lunes 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fred.stlouisfed.org/graph/fredgraph.csv",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "CPIAUCSL" }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "GET FRED CPI USA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Procesar CPI USA desde FRED — CPIAUCSL (Consumer Price Index All Urban)\n// Formato CSV: DATE,CPIAUCSL\\n2026-04-01,332.407\\n...\nconst csv = items[0].json.data || items[0].json.body || '';\n\nif (!csv || typeof csv !== 'string') {\n  return [{ json: { error: 'Sin datos CPI', timestamp: new Date().toISOString() } }];\n}\n\nconst lines = csv.trim().split('\\n').filter(l => l && !l.startsWith('DATE'));\n\n// Últimas 3 observaciones mensuales\nconst recientes = lines.slice(-3).map(line => {\n  const [fecha, valor] = line.split(',');\n  return {\n    fecha: fecha?.trim(),\n    cpi: parseFloat(valor?.trim() || 0)\n  };\n});\n\nconst ultimo = recientes[recientes.length - 1];\nconst anterior = recientes[recientes.length - 2];\n\nconst cambio_mensual = ultimo && anterior && anterior.cpi\n  ? (((ultimo.cpi - anterior.cpi) / anterior.cpi) * 100).toFixed(3)\n  : null;\n\nconst resultado = {\n  agente: 'MSK BROKER',\n  fuente: 'FRED — CPIAUCSL (Federal Reserve St. Louis)',\n  indicador: 'CPI USA — All Urban Consumers (1982-84=100)',\n  ultima_fecha: ultimo?.fecha,\n  cpi_actual: ultimo?.cpi,\n  cambio_mensual_pct: cambio_mensual,\n  tendencia: parseFloat(cambio_mensual) > 0 ? '⬆️ Inflación subiendo' : '⬇️ Inflación bajando',\n  impacto_combustible: Math.abs(parseFloat(cambio_mensual || 0)) > 0.5 ? '⚠️ Presión al alza en costos MSK' : '✅ Estable',\n  historico_3m: recientes,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('[MSK]', JSON.stringify(resultado, null, 2));\nreturn [{ json: resultado }];"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "MSK — Procesar Inflación USA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "agente", "stringValue": "MSK BROKER" },
            { "name": "indicador", "stringValue": "CPI USA CPIAUCSL" },
            { "name": "ultima_fecha", "stringValue": "={{ $json.ultima_fecha }}" },
            { "name": "cpi_actual", "stringValue": "={{ $json.cpi_actual }}" },
            { "name": "cambio_mensual_pct", "stringValue": "={{ $json.cambio_mensual_pct }}" },
            { "name": "tendencia", "stringValue": "={{ $json.tendencia }}" },
            { "name": "impacto_combustible", "stringValue": "={{ $json.impacto_combustible }}" },
            { "name": "fuente", "stringValue": "FRED CPIAUCSL" },
            { "name": "timestamp", "stringValue": "={{ $json.timestamp }}" }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Formatear MSK Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Lunes 8AM": {
      "main": [[ { "node": "GET FRED CPI USA", "type": "main", "index": 0 } ]]
    },
    "GET FRED CPI USA": {
      "main": [[ { "node": "MSK — Procesar Inflación USA", "type": "main", "index": 0 } ]]
    },
    "MSK — Procesar Inflación USA": {
      "main": [[ { "node": "Formatear MSK Output", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "msk-fred-cpi-004",
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Agente MSK BROKER: CPI USA (CPIAUCSL) vía FRED CSV público. Sin auth. Semanal lunes 8AM. Reemplaza EconDB (requiere autenticación). Endpoint FRED St. Louis Fed.",
    "agente": "MSK BROKER",
    "frecuencia": "semanal — lunes 8:00 AM",
    "api": "https://fred.stlouisfed.org/graph/fredgraph.csv?id=CPIAUCSL",
    "auth_requerida": false,
    "nota": "EconDB API requiere autenticación desde 2026. FRED CPIAUCSL es CPI oficial (All Urban Consumers) sin auth.",
    "series_fred_adicionales": [
      "PPIACO — PPI (Producer Price Index)",
      "DCOILWTICO — WTI Crude Oil Price (diario)",
      "CPIUFDSL — CPI Food",
      "CPIFABSL — CPI Energy"
    ]
  },
  "tags": ["msk", "inflation", "cpi", "fred", "usa", "zumaintelligence"]
}
