fred-eagle.json
{
  "name": "EAGLE — FRED Deuda Federal USA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Diario 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fred.stlouisfed.org/graph/fredgraph.csv",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "GFDEBTN" },
            { "name": "vintage_date", "value": "" }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "GET FRED Deuda Federal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Procesar CSV de FRED — GFDEBTN: Total Public Debt Outstanding (millones USD)\n// Formato CSV: DATE,GFDEBTN\\n2024-01-01,34001234\\n...\nconst csv = items[0].json.data || items[0].json.body || '';\n\nif (!csv || typeof csv !== 'string') {\n  return [{ json: { error: 'Sin datos FRED', timestamp: new Date().toISOString() } }];\n}\n\nconst lines = csv.trim().split('\\n').filter(l => l && !l.startsWith('DATE'));\n\n// Tomar las últimas 3 observaciones (mensuales)\nconst recientes = lines.slice(-3).map(line => {\n  const [fecha, valor] = line.split(',');\n  return {\n    fecha: fecha?.trim(),\n    deuda_millones_usd: parseFloat(valor?.trim() || 0)\n  };\n});\n\nconst ultimo = recientes[recientes.length - 1];\nconst anterior = recientes[recientes.length - 2];\n\nconst cambio_mensual_mm = ultimo && anterior\n  ? ((ultimo.deuda_millones_usd - anterior.deuda_millones_usd) / 1000).toFixed(1)\n  : null;\n\nconst deuda_trillones = ultimo ? (ultimo.deuda_millones_usd / 1e6).toFixed(3) : null;\n\nconst resultado = {\n  agente: 'EAGLE',\n  fuente: 'FRED — GFDEBTN (Federal Reserve St. Louis)',\n  indicador: 'Total Public Debt Outstanding USA',\n  ultima_fecha: ultimo?.fecha,\n  deuda_millones_usd: ultimo?.deuda_millones_usd,\n  deuda_legible: `$${deuda_trillones}T USD`,\n  cambio_mensual_miles_mm: cambio_mensual_mm,\n  tendencia: cambio_mensual_mm > 0 ? '⬆️ Deuda aumentando' : '⬇️ Deuda disminuyendo',\n  alerta: ultimo?.deuda_millones_usd > 33_000_000 ? '⚠️ Deuda >$33T USD' : '✅ Dentro de rango',\n  historico_3m: recientes,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('[EAGLE]', JSON.stringify(resultado, null, 2));\nreturn [{ json: resultado }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "EAGLE — Procesar Deuda Federal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "agente", "stringValue": "EAGLE" },
            { "name": "indicador", "stringValue": "Total Public Debt USA (GFDEBTN)" },
            { "name": "ultima_fecha", "stringValue": "={{ $json.ultima_fecha }}" },
            { "name": "deuda_millones_usd", "stringValue": "={{ $json.deuda_millones_usd }}" },
            { "name": "deuda_legible", "stringValue": "={{ $json.deuda_legible }}" },
            { "name": "cambio_mensual_miles_mm", "stringValue": "={{ $json.cambio_mensual_miles_mm }}" },
            { "name": "tendencia", "stringValue": "={{ $json.tendencia }}" },
            { "name": "alerta", "stringValue": "={{ $json.alerta }}" },
            { "name": "fuente", "stringValue": "FRED GFDEBTN" },
            { "name": "timestamp", "stringValue": "={{ $json.timestamp }}" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Formatear EAGLE Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Diario 8AM": {
      "main": [[ { "node": "GET FRED Deuda Federal", "type": "main", "index": 0 } ]]
    },
    "GET FRED Deuda Federal": {
      "main": [[ { "node": "EAGLE — Procesar Deuda Federal", "type": "main", "index": 0 } ]]
    },
    "EAGLE — Procesar Deuda Federal": {
      "main": [[ { "node": "Formatear EAGLE Output", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "eagle-fred-003",
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Agente EAGLE: Deuda federal USA total (GFDEBTN) vía FRED CSV público. Sin auth. Diario 8AM. Reemplaza US Treasury FiscalData (retorna 404 desde NEXUS-1). Endpoint público FRED St. Louis Fed.",
    "agente": "EAGLE",
    "frecuencia": "diario 8:00 AM",
    "api": "https://fred.stlouisfed.org/graph/fredgraph.csv?id=GFDEBTN",
    "auth_requerida": false,
    "nota": "US Treasury FiscalData API retorna 404 desde NEXUS-1 (posible geo-block). FRED CSV es alternativa pública confirmada funcional.",
    "series_adicionales_fred": [
      "WDTGDP — Deuda federal / PIB USA (%)",
      "FYONGDA188S — Déficit federal anual",
      "MTSDS133FMS — Surplus/déficit mensual del gobierno federal"
    ]
  },
  "tags": ["eagle", "treasury", "debt", "fred", "usa", "zumaintelligence"]
}
